<div class="container-fluid section-start" id="contact">
  <h1>Contact</h1>
  <h2>We are always happy to help in any way we can.</h2>
  <p>You can reach us at: 1-800-WE-HEAR-U (1-800-934-3278)</p>
</div>
