<div class="container-fluid section-start" id="orders-index">
  <h1>Orders#index</h1>
  <p>Find me in app/views/orders/index.html.erb</p>
  <br>

  <%= link_to 'Show Order', orders_show_path, class: "btn btn-warning" %>
</div>
