<div class="container-fluid section-start" id="orders-show">
  <h1>Orders#show</h1>
  <p>Find me in app/views/orders/show.html.erb</p>
  <br>

  <%= link_to 'Go To Order Index', orders_index_path, class: "btn btn-warning" %>
</div>
